{% extends 'base.html' %}

{% block content %}

<center>
	<h3 class="mb-2 mt-2 p-4">Popularity by course </h3>
</center>
<div class="container-fluid row" style="width: 100%;height: 100px">
	<div class="col-sm">
	<canvas id="piedata" ></canvas>
	</div>

	<div class="col-sm">
	<canvas id="bardata"></canvas>
	</div>
	

</div>
<script>

var ctx = document.getElementById('piedata').getContext('2d');
var ctx1 = document.getElementById('bardata').getContext('2d');
ctx.canvas.parentNode.style.height = '100px';
ctx.canvas.parentNode.style.width = '100px';

ctx1.canvas.parentNode.style.height = '100px';
ctx1.canvas.parentNode.style.width = '100px';

var myChart = new Chart(ctx, {
	maintainAspectRatio: false,
    type: 'bar',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
        	
            label: "Courses",
            data: {{ data|safe }} ,
            backgroundColor: [
                'rgba(255, 99, 132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 0.2,
            width:120,
            height:120,

        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


var myChart1 = new Chart(ctx1, {
	maintainAspectRatio: false,
    type: 'pie',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
        	
            label: "Courses",
            data: {{ data|safe }} ,
            backgroundColor: [
                'rgba(255, 99, 132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 0.2,
            width:120,
            height:120,

        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


</script>





 {% endblock %}