{% extends 'base.html' %}
{%load static%}
{% block content %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

<!--Page Content -->
<div class="container mr-2 col-md-12 mt-5 mb-4">
  
		 <ul class="list-group" style="text-decoration: none; width:auto;font-size: 20px;font-family: 'Roboto Condensed', sans-serif;" >
	      			<li class="list-group-item active">
	      			{% for x in data %}	      				
	      			   <span>
	      			   	{%  if x.image %}
	      				<img src="{{ x.image.url }}" alt="" style="border-radius: 50%; width:50px"class="img-thumbnail"> 
	      				{% else %}
	      				<img src="{% static 'images/default.jpg' %}" alt="" style="border-radius: 50%; width:50px"class="img-thumbnail"> 

	      				{%endif%}
	      				 Welcome,{{request.session.user}}
	      				</span>
	      			</li>
	      			{%endfor%}
	      </ul>

	<div class="content p-4 m-5 col-md-12 mb-4" style="font-family: 'Roboto Condensed', sans-serif;">
	    {% for x in data %}
	    {% if 'user' in request.session %}

		<div class="card border border-info rounded  mt-4 mr-3 d-flex align-items-stretch"
		 style=" display: inline; float: left;padding-right: : 20px;width:300px;height: 400px; margin-right:25px;box-shadow: 1px 10px #888888;">

			<img src="{% static 'images/profile.png' %}" alt="" style="border-radius: 50%;height: 45%;width: 55%;padding: 15px;" class="img-thumbnail mx-auto">
			  
			  <div class="container col-md-12 card-body mx-auto p-3" style="background-color:#006666  ;color: white">
			    <h6 class="card-title"><i class="far fa-id-badge"></i> My Profile</li></h6>
			           
				<p class="card-text">All your profile details can be found under this section.</p>				 				  		
			 </div>
			 <div class="container-fluid p-2 mt-2 mb-2">
			 	<a href="{% url 'myprofileshow' x.id x.useruid %}" class="btn btn-primary btn-block">View my profile</a>	
			 </div>
	    </div>	

	    <div class="card border border-info rounded  mt-4 mr-3 d-flex align-items-stretch" style=" display: inline; float: left;padding-right: : 20px;width:300px;height: 400px; margin-right:25px;box-shadow: 1px 10px #888888;">

			<img src="{% static 'images/browse.png' %}" alt="" style="border-radius: 50%;height: 45%;width: 55%;padding: 15px;" class="img-thumbnail mx-auto">
			  
			  <div class="container col-md-12 card-body mx-auto p-3" style="background-color: #006666;color: white">
			    <h6 class="card-title"><i class="fas fa-search"></i> Browse Courses</li></h6>
			    <p class="card-text">In this section you will find all courses that are currently 
			    	available.
			    </p>        
								 				  	
			 </div>
			 <div class="container-fluid p-2 mt-2 mb-2">
			 	<a href="/content/viewavailablecontents" class="btn btn-primary btn-block">Browse</a>	
			 </div>
	    </div>	
	    
	<div class="card border border-info rounded  mt-4 mr-3 d-flex align-items-stretch" style=" display: inline; float: left;padding-right: : 20px;width:300px;height: 400px; margin-right:25px;box-shadow: 1px 10px #888888;">

			<img src="{% static 'images/enrollment.png' %}" alt="" style="border-radius: 50%;height: 45%;width: 55%;padding: 15px;" class="img-thumbnail mx-auto">
			  
			  <div class="container col-md-12 card-body mx-auto p-3" style="background-color: #006666;color: white">
			    <h6 class="card-title"><i class="fas fa-search"></i> Your Enrollments</li></h6>
			    <p class="card-text">Check all the courses that you are currently enrolled in.</p>        
								 				  	
			 </div>
			 <div class="container-fluid p-2 mt-2 mb-2">
			 	<a href="/content/viewavailablecontents" class="btn btn-primary btn-block">Check enrollment</a>	
			 </div>
	    </div>	

	    


	    {% if x.usertype == 'tch' %}

	<div class="card border border-info rounded  mt-4 mr-3 d-flex align-items-stretch" style=" display: inline; float: left;padding-right: : 20px;width:300px;height: 400px; margin-right:25px;box-shadow: 1px 10px #888888;">

				<img src="{% static 'images/create.png' %}" alt="" style="border-radius: 50%;height: 45%;width: 55%;padding: 15px;" class="img-thumbnail mx-auto">
				  
				  <div class="container col-md-12 card-body mx-auto p-3" style="background-color: #006666;color: white">
				    <h6 class="card-title"><i class="fas fa-plus"></i> Create Content</li></h6>
				    <p class="card-text">This wizard will help you to create your own contents and perform
				    manipulation on it.</p>        
									 				  	
				 </div>
				 <div class="container-fluid p-2 mt-2 mb-2">
				 	<a href="/content/contentcreate" class="btn btn-primary btn-block">Start Creating</a>	
				 </div>
    </div>

	<div class="card border border-info rounded  mt-4 mr-3 mb-3 d-flex align-items-stretch" style=" display: inline; float: left;padding-right: : 20px;width:300px;height: 400px; margin-right:25px;box-shadow: 1px 10px #888888;">

				<img src="{% static 'images/check.png' %}" alt="" style="border-radius: 50%;height: 45%;width: 55%;padding: 15px;" class="img-thumbnail mx-auto">
				  
				  <div class="container col-md-12 card-body mx-auto p-3" style="background-color: #006666;color: white">
				    <h6 class="card-title"><i class="fas fa-eye"></i> Check your creations</li></h6>
				    <p class="card-text">Manage all your creative work through here.</p>        
									 				  	
				 </div>
				 <div class="container-fluid p-2 mt-2 mb-2">
				 	<a href="{% url 'mycontentshow' x.id x.useruid %}" class="btn btn-primary btn-block">View my creations</a>		
				 </div>
    </div>

	    {%endif%}

 		<div class="card border border-info rounded  mt-4 mr-3 mb-3 d-flex align-items-stretch" style=" display: inline; float: left;padding-right: : 20px;width:300px;height: 400px; margin-right:25px;box-shadow: 1px 10px #888888;">

				<img src="{% static 'images/graph.jpg' %}" alt="" style="border-radius: 50%;height: 45%;width: 55%;padding: 15px;" class="img-thumbnail mx-auto">
				  
				  <div class="container col-md-12 card-body mx-auto p-3" style="background-color: #006666;color: white">
				    <h6 class="card-title"><i class="fas fa-sign-out-alt"></i> Ratings</li></h6>
				    <p class="card-text">This section will show how courses are rated in this site as per user reviews.</p>        
									 				  	
				 </div>
				 <div class="container-fluid p-2 mt-2 mb-2">
				 	<a href="#" class="btn btn-primary btn-block">Under Construction</a>		
				 </div>
    	</div>






	    <div class="card border border-info rounded  mt-4 mr-3 mb-3 d-flex align-items-stretch" style=" display: inline; float: left;padding-right: : 20px;width:300px;height: 400px; margin-right:25px;box-shadow: 1px 10px #888888;">

				<img src="{% static 'images/logout.png' %}" alt="" style="border-radius: 50%;height: 45%;width: 55%;padding: 15px;" class="img-thumbnail mx-auto">
				  
				  <div class="container col-md-12 card-body mx-auto p-3" style="background-color: #006666;color: white">
				    <h6 class="card-title"><i class="fas fa-sign-out-alt"></i> Logout</li></h6>
				    <p class="card-text">Close the application.</p>        
									 				  	
				 </div>
				 <div class="container-fluid p-2 mt-2 mb-2">
				 	<a href="/logout" class="btn btn-primary btn-block">Signoff</a>		
				 </div>
    	</div>
			
	    {%endif%}
	    {% endfor %}
	</div>
</div>


  </div>
</div>


{%endblock%}
