{% extends 'base.html' %}
{%load static%}
{% block content %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>



<!-- Image Upload Modal -->
<div class="modal fade" id="imageupload" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose an image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/uploadprofilepic" enctype="multipart/form-data">
      	 {% csrf_token %}
	      <div class="modal-body">
		       <div class="input-group">
				  <div class="custom-file">
				    <input type="file" name="image">
				   </div>
				  
				</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" name="imgupload" class="btn btn-primary">Upload</button></a>
      </form>
      </div>
    </div>
  </div>
</div>

<!--Page Content -->
<div class="container col-md-12 mt-5">
  
  <div class="row">
	   
	    <div class="container col-md-4" id="list">


	      		<ul class="list-group col-md-6 mr-2 " style="text-decoration: none; width: 100%" >
	      			<li class="list-group-item active">

	      				{% for x in data %}
	      				
	      			   <span>

	      				<img src="{% static 'images/default.jpg' %}" alt="" style="border-radius: 50%; width:50px"class="img-thumbnail"> 
	      				
	      				
	      				<a href="/uploadprofilepic">
	      				<i class="fas fa-camera" style="background-color: white;" data-toggle="modal" data-target="#imageupload" onclick="abc();"></i>
	      				</a>
	      				 Welcome,{{request.session.user}}
	      				</span>

	      		
	      			</li>

	      		  {%if 'user' in request.session %}
				  <a href="{% url 'myprofileshow' x.id x.useruid %}"><li class="list-group-item">
				  	<i class="far fa-id-badge"></i> My Profile</li>
				 	<a>

				  <a href="/content/viewavailablecontents"><li class="list-group-item">
				  <i class="fas fa-search"></i> Browse Courses</li></a>
				  
				  <a href="/content/myenrollments"><li class="list-group-item">
				  <i class="fas fa-search"></i> Your Enrollments </li></a>

				  {%endif%}
				  {% if x.usertype == 'tch' %}
				  <a href="/content/contentcreate"><li class="list-group-item">
				  <i class="fab fa-servicestack"></i> Create Content</li></a>

				  <a href="/content/mycourses"><li class="list-group-item">
				  <i class="fab fa-servicestack"></i> Your courses</li></a>
				 				  


				  <a href="{% url 'mycontentshow' x.id x.useruid %}"><li class="list-group-item">
				  <i class="fab fa-servicestack"></i> Check your creations</li></a>
				  {%endif%}
				  {% endfor %}
				  <a href="/logout"><li class="list-group-item">
				  <i class="fas fa-sign-out-alt"></i> Logout</li></a>
				</ul>
	  	</div>


<!-- Courses Enrolled in -->
	  	<div class="col-md-8" style="margin-left: 0;display: inline-block;">
	  		<h1>Courses you are currently enrolled in</h1>

	  			{% for x in enrolled%}
	  			<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="..." alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">{{x.coursename}}</h5>
				    
				    <a href="#" class="btn btn-primary">Go to course</a>
				  </div>
				</div>
				{% endfor%}
	  		




	  					  
	    </div>
            
	  	
	  
  </div>

</div>

{%endblock%}
