{% extends 'base.html' %}
{%load static%}
{% block content %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>



<!-- Image Upload Modal -->
<div class="modal fade" id="imageupload" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose an image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/uploadprofilepic" enctype="multipart/form-data">
      	 {% csrf_token %}
	      <div class="modal-body">
		       <div class="input-group">
				  <div class="custom-file">
				    <input type="file" name="image">
				   </div>
				  
				</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" name="imgupload" class="btn btn-primary">Upload</button></a>
      </form>
      </div>
    </div>
  </div>
</div>

<!--Page Content -->
<div class="container col-md-12 mt-5">
  
  <div class="row">
	   
	    <div class="container col-md-3" id="list" style="font-family: 'Roboto Condensed', sans-serif;">

	    	<div class="container col-md-12">
	      		<ul class="list-group" style="text-decoration: none; width: 100%" >
	      			<li class="list-group-item active">

	      				{% for x in data %}
	      				
	      			   <span>

	      				<img src="{% static 'images/default.jpg' %}" alt="" style="border-radius: 50%; width:50px"class="img-thumbnail">       				
	      				<a href="/uploadprofilepic">
	      				<i class="fas fa-camera" style="background-color: white;" data-toggle="modal" data-target="#imageupload" onclick="abc();"></i>
	      				</a>
	      				 Welcome,{{request.session.user}}
	      				</span>
	      			</li>

	      		  {%if 'user' in request.session %}
				  <a href="{% url 'myprofileshow' x.id x.useruid %}">
				  	<li class="list-group-item border border-primary rounded-bottom">
				  	<i class="far fa-id-badge"></i> My Profile</li>
				 	<a>

				  <a href="/content/viewavailablecontents">
				  	<li class="list-group-item border border-primary rounded-bottom">
				  <i class="fas fa-search"></i> Browse Courses</li></a>
				  
				  <a href="/myenrollments">
				  	<li class="list-group-item border border-primary rounded-bottom">
				  <i class="fas fa-search"></i> Your Enrollments </li></a>

				  {%endif%}
				  {% if x.usertype == 'tch' %}
				  <a href="/content/contentcreate">
				  	<li class="list-group-item border border-primary rounded-bottom">
				  <i class="fab fa-servicestack"></i> Create Content</li></a>				  


				  <a href="{% url 'mycontentshow' x.id x.useruid %}"><li class="list-group-item border border-primary rounded-bottom">
				  <i class="fab fa-servicestack"></i> Check your creations</li></a>
				  {%endif%}
				  {% endfor %}
				  <a href="/logout"><li class="list-group-item border border-primary rounded-bottom">
				  <i class="fas fa-sign-out-alt"></i> Logout</li></a>
				</ul>
			</div>
	  	</div>


<!-- Courses Enrolled in -->
<!-- Needs to be worked on -->
	  	<div class="col-md-8 mx-auto p-2" style="margin-left: 0;display: inline-block;">
			<div class="container-fluid col-md-12">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner" style="width: 100%;height: 300px">
				    <div class="carousel-item active">
				      <img class="d-block w-100" src="https://picsum.photos/200" alt="First slide" >
				    </div>
				    <div class="carousel-item">
				      <img class="d-block w-100" src="https://picsum.photos/200" alt="First slide" >
				    </div>
				    <div class="carousel-item">
				     <img class="d-block w-100" src="https://picsum.photos/200" alt="First slide" >
				    </div>
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
	  					  
	    </div>
            
	  	
	  
  </div>

</div>

{%endblock%}
