{%extends 'adminbase.html' %}

{%block content%}
<div class="ui grid">
  <div class="three column row">
    <div class="column">Admin Details and Navigation will go here</div>
    <div class="column">
    	<div class="content" style="float: left;display: inline;">
				
    			
				<div class="ui card">
				  <div class="image">
				    <i class="fas fa-database"></i>
				  </div>
				  <div class="content">
				    <a class="header">Users Table</a>
				    <div class="meta">
				      <span class="date">Created At data</span>
				    </div>
				    <div class="description">
				      This table contains all users related data
				    </div>
				  </div>
				  <div class="extra content">
				    <a href="/adminarea/users">
				      <button class="ui blue button">View</button>
				    </a>
				  </div>
				</div>  
				<div class="ui card">
				  <div class="image">
				    <i class="fas fa-database"></i>
				  </div>
				  <div class="content">
				    <a class="header">Subscription Table</a>
				    <div class="meta">
				      <span class="date">Created At data</span>
				    </div>
				    <div class="description">
				      This table contains all subscription related data
				    </div>
				  </div>
				  <div class="extra content">
				    <a>
				      <button class="ui blue button">View</button>
				    </a>
				  </div>
				</div>  
				<div class="ui card">
				  <div class="image">
				    <i class="fas fa-database"></i>
				  </div>
				  <div class="content">
				    <a class="header">Courses Table</a>
				    <div class="meta">
				      <span class="date">Created At data</span>
				    </div>
				    <div class="description">
				      This table contains all courses related data
				    </div>
				  </div>
				  <div class="extra content">
				    <a href="/adminarea/courses">
				      <button class="ui blue button">View</button>
				    </a>
				  </div>
				</div>  
				<div class="ui card">
				  <div class="image">
				    <i class="fas fa-database"></i>
				  </div>
				  <div class="content">
				    <a class="header">Content Table</a>
				    <div class="meta">
				      <span class="date">Created At data</span>
				    </div>
				    <div class="description">
				      This table contains all content related data
				    </div>
				  </div>
				  <div class="extra content">
				    <a href="/adminarea/content">
				      <button class="ui blue button">View</button>
				    </a>
				  </div>
				</div>  


		</div>




    </div>
    <div class="column">Admin related data/notifications</div>
  </div>
</div>



{%endblock%}