{%extends 'adminbase.html' %}
{%load static%}
{%block content%}

<div class="content" style="margin:20px">
	<table class="ui teal table ui inverted teal table">
  <thead>
    <tr>
      <th>ContentID</th>
      <th>Contentheading</th>
      <th>Contentbody</th>
      <th>Contenturl</th>
      <th>Createdby</th>
      <th>Modify</th>
    </tr>
  </thead>
  <tbody>
  	{% for x in data %}
    <tr>
      <td>{{x.id}}</td>
      <td>{{x.contentheading |truncatechars:10  }}</td>
      <td>{{x.contentbody|truncatechars:10 }}</td>
      <td>{{x.contenturl |truncatechars:10  }}</td>
      <td>{{x.createdby}}</td>
      <td>
      <div class="ui buttons">
      <a href="{%url 'editadmincontent' x.id%}">
		  <button class="ui positive button test" >Edit</button> </a>
		  <div class="or">
		  <a href="{%url 'deleteadmincontent' x.id%}">  
      <button class="negative ui button">Delete</button> 
      </a>
		</div>
      </td>
    </tr>
   {%endfor%}
  </tbody>
  <tfoot class="full-width">
 
  </tfoot>
</table>

</div>
{%endblock%}