{%extends 'adminbase.html' %}


{%block content%}


<div class="content">
	<table class="ui teal table ui inverted teal table">
  <thead>
    <tr>
      <th>UserID</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Modify</th>
    </tr>
  </thead>
  <tbody>
  	{% for x in data %}
    <tr>
      <td>{{x.id}}</td>
      <td>{{x.firstname}}</td>
      <td>{{x.lastname}}</td>
      <td>{{x.username}}</td>
      <td>{{x.email}}</td>
      <td>{{x.password}}</td>
      <td>
      	<div class="ui buttons">
		 <a href=""> <button class="ui positive button">Edit</button> </a>
		  <div class="or"></div>
		<a href="">  <button class="negative ui button">Delete</button> </a>
		</div>
      </td>
    </tr>
    {%endfor%}

  </tbody>
  <tfoot class="full-width">
 
  </tfoot>
</table>
</div>


{%endblock%}