<div class="container col-md-12" style="display: inline;">
	
	<div class="col-md-8 mx-auto">
		<h4>Comment Section will be here </h4>
		<h4>Post your reviews</h4>
		<div class="row mx-auto ">
		   <label class="">Comment</label>
		   
		   <form action="" method="POST">
		   <textarea class="form-control mb-3 border border-primary rounded" name="comment" rows="2"></textarea>
		   <a href=""><button type="button" class="btn btn-primary mt-3 mb-3">Comment</button></a>
		   </form>
		   
		</div>
	</div>
	<div class="col-md-8 mx-auto">
		<small> Previous comments will come here: </small>
	</div>
</div>
