{% extends 'base.html' %}

{%block content%}

<!-- Form -->

<form method="post" action="/content/contentcreate/">
  {% csrf_token %}
  <div class="row mt-5">
  	<label class="col-sm-3 col-form-label ml-5">Create Course</label>
    <div class="col-sm-4">
      
      <input type="text" name="coursename" class="form-control" placeholder="Course name">
      <input type="text" name="category" class="form-control" placeholder="Course category">
    </div>
    <div class="col-sm-4">
      <a href="/content/continuecreate/">
      <button type="submit" class="btn btn-primary">Create</button>
    </a>
    </div>
  </div>
</form>



{%endblock%}