{% extends 'base.html' %}

{%block content%}

<!-- Form -->

<div class="container col-md-12 mx-auto" style="font-family: 'Roboto Condensed', sans-serif;">

  <form method="post" action="/content/contentcreate/" >
    {% csrf_token %}
    <div class="row mt-5">
    	<label class="col-md-3 " style="font-size: 25px;float: right;">Create Course</label>
      <div class="col-md-6">
        
      <input type="text" name="coursename" class="form-control" placeholder="Course name">
       <div class="form-group">
          
          <select class="form-control mt-3" name="category" >
            {% for x in cat%}
            <option>{{x.category}}</option>
            {% endfor%}
          </select>
          
        </div>
      </div>
      <div class="col-md-3">
        <a href="/content/continuecreate/">
        <button type="submit" class="btn btn-primary">Create</button>
      </a>
      </div>
    </div>
  </form>
</div>


{%endblock%}