{% extends 'base.html' %}
{% load embed_video_tags %}
{%block content%}
{%load static%}



<div class="container-fluid" style="font-family: 'Roboto Condensed', sans-serif;">
  

			<div class="container col-md-12">
					<!-- Available courses -->
					{% for x in dt%}
					<div class="card" style="width: 18rem; display: inline; float: left;">
					  <img src="https://picsum.photos/200" class="card-img-top" style="height: 100px;width: 200px">
					  <div class="card-body">

					    <h5 class="card-title">{{ x.id }}</h5>
					    <p class="card-text">{{ x.contentheading | truncatechars:100 }}...</p>
					    <a href="{% url 'fetchcontent' x.id x.cuid %}" class="btn btn-primary">View Content</a>
					  </div>
					</div>
					{% endfor %}
			</div>
  

  </div>
</div>


{%endblock%}