{% extends 'base.html' %}
{%block content%}
{%load static%}

	

<div class="container mt-4" style="font-family: 'Roboto Condensed', sans-serif;">
	<center>
	<h3 class="mb-4">Hey edit your content</h3>
	</center>

 
	
	<table class="table table-bordered primary">
	
	  <thead class="thead-dark">
		
	    <tr>
	    
	      <th scope="col">id</th>
	      <th scope="col">ContentHeading</th>
	      <th scope="col">ContentBody</th>
	      <th scope="col">ContentUrl</th>
	      <th scope="col">Edit</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for x in data %}	   
	    <tr>
	      <th scope="row">{{x.id}}</th>
	      <td>{{x.contentheading}}</td>
	      <td>{{x.contentbody | truncatechars:50 }}...</td>
	      <td>{{x.contenturl| truncatechars:50}}</td>
	      <td><a href="{% url 'editfinish' x.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
	    </tr>
	  </tbody>
	  	
	  	{%endfor%}

	</table>
	   	{% for x in add %}
	   	{% if forloop.first %}
	   	
	  	
	  	<a href="{% url 'addnew' x.cuid%}"><button type="submit" class="btn btn-primary" >Add Content</button>
	  	</a>
	  	{%endif%}
	  	{%endfor%}
	   	


	  
	  
	  


</div>
{%endblock%}