{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<h3> You are viewing all the courses which are currently enrolled </h3>
</center>
				<div class="container col-md-12" style="font-family: 'Roboto Condensed', sans-serif;">
					<!-- Available courses -->
					{% for x in enrolled %}					
					<div class="card z-depth-4 mr-5 mt-5 ml-5" style="width: 18rem; display: inline; float: left;">
					  <img src="https://picsum.photos/200" class="card-img-top" style="height: 100px;width: 200px">
					  <div class="card-body">
					    <h5 class="card-title">{{ x.id }}</h5>
					    <p class="card-text">{{ x.coursename }}</p>
					    <p class="card-text">{{ x.coursename }}</p>
					    <a href="{% url 'showcontent' x.id x.courseuid %}" class="btn btn-primary">View Course</a>	
						<a href="{% url 'enrollcourse' x.id x.courseuid %}" class="btn btn-primary">Enroll</a>		  							  	
					  </div>
					</div>
					
					{% endfor %}
				</div>
{%endblock%}