{% load static %}
<!DOCTYPE html>
<html>
<head>

  <!--Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/2c239a3d45.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300&display=swap" rel="stylesheet"> 

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


	<title>LMS App</title>
</head>
<body>

	<!-- Image and text -->

<nav class="navbar navbar-expand-lg" style="padding: 10px;
      box-shadow: 1px 2px 5px 1px #888888;">
  <a class="navbar-brand" href="#">
  	<i class="fas fa-book-open"></i>
	Learning Management System
  </a>
  
  {% if 'user' in request.session %}
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav"  style="float: right;">
      <li class="nav-item active">
        <a class="nav-link" href="/userhome">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
  {%endif%}
</nav>

{% block content %}
{% endblock %}

	<footer style="position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  margin: auto;
  padding: 15px;
  background-color: #336bff;
  color: black;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;">
        
      	<strong>   © Made with <i class="fas fa-heart"></i> by (Ankita,Nikita,Subhodeep)
        </strong>
      
      </footer>
      


</body>
</html>